.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.footerstyle {
    position: fixed;
    bottom: 0;
    width: 100%
}

.todostyle {
    min-height: 70vh;
    margin: 50px auto
}

.about-center {
    padding-top: 20vh
}

.icon-link {
    display: flex;
    color: #202020;
    justify-content: center;
    text-decoration: none;
    transition: transform 0.4s ease-out;
}

.icon-link:hover {
    transform: translateY(-10px);
    color: #202020;
}

.contact {
  margin-bottom: 50px;
}